body {
    background-color: #21212b;
    color: white;
    display: flex;
    justify-content: center;
}

.main {
    width: 350px;
    height: 550px;
    border: 2px transparent;
    top: 10%;
    transform: translate(5%, 5%);
    border-radius: 40px;
    background-color: #2f2f39;
}

.header {
    width: inherit;
    height: 90px;
    background-color: #ecad61;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    justify-content: space-between;
}

.header-span {
    padding:20px;
    padding-top: 35px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.radios {
    width: inherit;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.radios-span{
    padding: 33px 25px;
    color: white;
    font-size: 23px;
    opacity: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.radios-span-last{
    padding: 16px 25px;
    color: white;
    font-size: 23px;
    opacity: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 300px;
    color: #383842;
}

#last-line {
    width: 348px;
    color: #383842;
}

.hidden {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
